# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
staticfiles/
media/

# Environment variables
.env

# Pipenv
# KEEP Pipfile and Pipfile.lock
# Do NOT ignore them

# VS Code
.vscode/

# React / Node
frontend/node_modules/
frontend/dist/

# OS files
Thumbs.db
.DS_Store